<!--
Launches Kuri in mapping mode.  Mapping will start when Kuri detects its on
the dock.  The user is expected to teleop Kuri around to build the map.  
When kuri is back on the dock, the map will be closed off and saved, and
the mapping node will terminate
-->

<launch>

    <!-- Kuri motor control, depthsensor, chest LED, and other sensors-->
    <include file="$(find mobile_base_driver)/launch/kuri_drive.launch"/>

    <!-- Kuri's eye camera -->
    <include file="$(find madmux)/launch/madmux_daemon.launch"/>

    <!-- Nodes used for mapping -->
    <node name="oort_ros_mapping"
          pkg="oort"
          type="oort_ros"
          launch-prefix="nice -n 10"
          required="true">
        <remap from="scan" to="scan_reduced_mapping"/>
    </node>
    <include file="$(find gizmo_ros_navigation)/launch/amcl.launch"/>

    <!-- Below are the nodes that can be modified as part of the Kuri EDU activities -->
    <include file="$(find kuri_edu)/launch/safety_controller.launch"/> 
    <include file="$(find kuri_edu)/launch/chest_light_controller.launch"/> 
    <include file="$(find kuri_edu)/launch/mapping_controller.launch"/> 

</launch>
