<!--
Launches the EDU version of Kuri.  Useful for academic purposes, but with
minimal autonomous behavior and no Kuri assets (animations, sounds, etc)

Users are expected to modifiy the nodes provided as part of the kuri_edu
software package to experiment with their own robot behaviors
-->

<launch>

    <!-- Kuri motor control, depthsensor, chest LED, and other sensors-->
    <include file="$(find mobile_base_driver)/launch/kuri_drive.launch"/>

    <!-- Kuri's eye camera -->
    <include file="$(find madmux)/launch/madmux_daemon.launch"/>

    <!-- Kuri's face recognition -->
    <include file="$(find vision_bridge)/launch/vision_bridge.launch"/>

    <!-- Below are the nodes that can be modified as part of the Kuri EDU activities -->
    <include file="$(find kuri_edu)/launch/safety_controller.launch"/> 
    <include file="$(find kuri_edu)/launch/head_controller.launch"/> 
    <include file="$(find kuri_edu)/launch/chest_light_controller.launch"/> 

</launch>
